*~
model.log
*/input.csv
__pycache__
.python-version
output/*
metadata/*
released/*
final_results/*
venv/
notebooks/.ipynb_checkpoints/describe_duration-checkpoint.ipynb
notebooks/.ipynb_checkpoints/rates_over_time-checkpoint.ipynb
fit_notes_protocol_v1.0.pdf
.Rhistory

.devcontainer/ehrql-main/